@{ }

<style>

    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .heading {
        padding-bottom: 20px;
        padding-top: 0px;
        margin-left: 10px;
        font-size: xx-large;
    }

    .col-2 {
        float: left;
        width: 48%;
    }

    .showcase {
        width: 100%;
        margin: auto;
        overflow: hidden;
    }

    .right-heading {
        font-weight: 400;
        line-height: 1.5em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
    }

    .feature-text {
        margin-top: 8vw;
        background-color: rgb(255, 255, 255, 0.7);
        padding: 3rem 2.5rem;
    }
</style>

<div class="heading">
    <h1>About Us</h1>
</div>

<div class="showcase">
    <div class="col-2">
        <figure style="height: 500px;">
            <img src="~/Images/aboutus.jpeg" />
        </figure>
    </div>
    <div class="col-2">
        <div class="feature-text">
            <h1 class="right-heading">Yes!! We are the best book store available online.</h1>
            <br />
            <p>
                Some text here too.
                We can use this to put some description according to our project.
            </p>
        </div>
    </div>
</div>
