@{
    ViewBag.Title = "About";
}
<style>

    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .heading {
        padding-bottom: 20px;
        padding-top: 0px;
        margin-left: 10px;
        font-size: xx-large;
    }

    .col-2 {
        float: left;
        width: 48%;
    }

    .showcase {
        width: 100%;
        margin: auto;
        overflow: hidden;
    }

    .right-heading {
        font-weight: 400;
        line-height: 1.5em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
    }

    .feature-text {
        margin-top: 0.6vw;
        background-color: rgb(255, 255, 255, 0.7);
        padding: 2rem 2.5rem;
        text-align: justify;
    }
</style>

<div class="heading">
    <h1>About Us</h1>
</div>

<div class="showcase">
    <div class="col-2">
        <figure style="height: 500px;">
            <img src="~/Images/aboutus.jpeg" />
        </figure>
    </div>
    <div class="col-2">
        <div class="feature-text">
            <h1 class="right-heading">Yes!! We are the best book store available online.</h1>
            <br />
            <p>
                Bookies offers you over million titles across categories such as Children’s Books, Business & Economics, Indian Writing and Literature & Fiction.
                <br />
                <br />
                Reading books is the favourite pastime of many people. If you’re bitten by the book-bug too, then there is a massive collection of books for you to read.
                <br />
                From bestsellers to new & future releases, the choices are exhaustive when you shop online at India's Largest Bookstore.
                <br />
                <br />
                Innumerable books are divided under various categories like action & adventure, business & economics, comics & mangas, crime, thriller & mystery, fiction, humour, and romance. 
                <br />
                You can browse by genre when you buy online making it more convenient for you to narrow down your choices. These books are available in different formats like hardcover, paperback, and board book.
                <br />
                <br />
                So, whether you are looking to buy a story book for children; study guides for engineering, law or medicine; Biographies or books on Computing & Digital Media; BOOKIES has a book for you.
            </p>
        </div>
    </div>
</div>
