@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    INTCOM21DN001<br /> 
    POD-5<br />
    Project: <strong>The Bookies</strong>
</address>

<hr />

<h4>Team Members:</h4>
<address>
    <strong>Shouvit Pradhan:</strong> <a href="mailto:shouvit.pradhan@cognizant.com">shouvit.pradhan@cognizant.com</a><br />
    <strong>Anurag Singh Bhadoria:</strong> <a href="mailto:anurag.singhbhadoria@cognizant.com">anurag.singhbhadoria@cognizant.com</a><br />
    <strong>Utkarsh Trivedi:</strong> <a href="mailto:utkarsh.trivedi@cognizant.com">utkarsh.trivedi@cognizant.com</a><br />
    <strong>Tarana Parween:</strong> <a href="mailto:tarana.parween@cognizant.com">tarana.parween@cognizant.com</a><br />
    <strong>Shaksham Jain:</strong> <a href="mailto:shaksham.jain@cognizant.com">shaksham.jain@cognizant.com</a><br />
    <strong>Divyaansh Khare:</strong> <a href="mailto:divyaansh.khare@cognizant.com">divyaansh.khare@cognizant.com</a><br />
</address>