@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    INTCOM21DN001<br /> 
    POD-5<br />
</address>

<hr />

<h4>Team Members:</h4>
<address>
    <strong>Shouvit Pradhan:</strong> <a href="mailto:Pradhan.Shouvit@cognizant.com">Pradhan.Shouvit@cognizant.com</a><br />
    <strong>Shouvit Pradhan:</strong> <a href="mailto:Pradhan.Shouvit@cognizant.com">Pradhan.Shouvit@cognizant.com</a><br />
    <strong>Shouvit Pradhan:</strong> <a href="mailto:Pradhan.Shouvit@cognizant.com">Pradhan.Shouvit@cognizant.com</a><br />
    <strong>Shouvit Pradhan:</strong> <a href="mailto:Pradhan.Shouvit@cognizant.com">Pradhan.Shouvit@cognizant.com</a><br />
    <strong>Shouvit Pradhan:</strong> <a href="mailto:Pradhan.Shouvit@cognizant.com">Pradhan.Shouvit@cognizant.com</a><br />
    <strong>Shouvit Pradhan:</strong> <a href="mailto:Pradhan.Shouvit@cognizant.com">Pradhan.Shouvit@cognizant.com</a><br />
</address>