@{
    ViewBag.Title = "Home Page";
}


<head>
    <style>
body {
  font-size: 15px;
}

button {
  background: #ffc600;
  border: 0;
  padding: 10px 20px;
}

img {
  max-width: 80%;
}

/* .wrapper */

.wrapper {
  display: grid;
  grid-gap: 20px;
}

.top {
    margin:auto;
  float:left;
  grid-gap: 20px;
  grid-template-areas:
    "hero hero cta1"
    "hero hero cta2"
}

.hero {
  grid-area: hero;
  min-height: 400px;
  background: white;
  background-size: cover;
  background-position: bottom right;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.hero > * {
  background: var(--yellow);
  padding: 0px;
}

.cta {
  background: var(--yellow);
  display: grid;
  align-items: center;
  justify-items: center;
  padding-left:100px;
  padding-top: 60px;
  margin-left:100px;
}

.cta p {
  margin: auto;
}

.cta1 {
  grid-area: cta1;
  padding-left: 40px;
}

        .cta2 {
            grid-area: cta2;
            padding-left: 50px;
        }

.price {
  font-size: 60px;
  font-weight: 300;
}

/* Navigation */

.menu ul {
  display: grid;
  grid-gap: 10px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.menu a {
  background: var(--yellow);
  display: block;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  font-size: 20px;
}

[aria-controls="menu-list"] {
  display: none;
}

/* Features! */

.features {
    padding-top:150px;
    padding-right:10px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.feature {
  background: white;
  padding: 10px;
  border: 1px solid white;
  text-align: center;
  box-shadow: 0 0 4px  rgba(0,0,0,0.1);
}

.feature .icon {
  font-size: 50px;
}
.feature p {
  color: rgba(0,0,0,0.5);
}

/* About Section */

.about {
  background: white;
  padding:50px;
  display: grid;
  grid-template-columns: 400px 1fr;
  align-items: center;
}

/* Gallery! */

.gallery {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gallery img {
  width: 100%;
}

.gallery h2 {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 20px;
  align-items: center;
}

.gallery h2:before, .gallery h2:after {
  display: block;
  content: '';
  height: 10px;
  background: linear-gradient(to var(--direction, left), var(--yellow), transparent);
}

.gallery h2:after {
  --direction: right;
}


  .menu {
    perspective: 800px;
  }
  [aria-controls="menu-list"] {
    display: block;
    margin-bottom: 10px;
  }

  .menu ul {
    max-height: 0;
    overflow: hidden;
    transform: rotateX(90deg);
    transition: all 0.5s;
  }

  [aria-expanded="true"] ~ ul {
    display: grid;
    max-height: 500px;
    transform: rotateX(0);
  }

  [aria-expanded="false"] .close {
    display: none;
  }

  [aria-expanded="true"] .close {
    display: inline-block;
  }

  [aria-expanded="true"] .open {
    display: none;
  }



  .top {
    grid-template-areas:
      "hero hero"
      "cta1 cta2"
  }
  /* About */
  .about {
    grid-template-columns: 1fr;
  }



  
           .top {
    grid-template-areas:
      "hero"
      "cta1"
      "cta2"
  }

        .type-icons {
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }

        .main{
            float:left;
            padding-right:60px;
            padding-top:30px;
        }

        .extra{
            padding-right:25px;
        }

        .marque{
            padding-top:120px;
            padding-bottom:64px;
            font-size:40px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color:crimson;

        }

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="style.css">
 
</head>

<body>



    <div class="top">

        <img class="main" src="~/Images/photo-1553503995-b6aefccad354.jpeg" />
        <div class="cta cta1">
            <p class="price">20%  OFF</p>
            <p>For Library Card Holders</p>
        </div>
        <div class="cta cta2">
            <p class="price">25% OFF</p>
            <p class="extra">On Buying 5 Books</p>
        </div>

    </div>




    <marquee class="marque" behavior="scroll" direction="right" scrollamount="9.5" width="120%" direction="right" height="120px">
        "A room without books is like a body without a soul"
    </marquee>



    <section class="features">
        <div class="feature">
            <span class="icon"></span>
            <h3>Thriller</h3>

        </div>
        <div class="feature">
            <span class="icon"></span>
            <h3>Horror</h3>

        </div>
        <div class="feature">
            <span class="icon"></span>
            <h3>Motivational</h3>

        </div>
        <div class="feature">
            <span class="icon"></span>
            <h3>Biography</h3>

        </div>
    </section>
    <section class="type-icons">


        <img src="~/Images/thriller-book-icon-flat-style-vector-34226752.jpg" />
        <img src="~/Images/horror-book-icon-flat-style-illustration_csp85865328.jpg" />
        <img src="~/Images/pink-motivation-book-green-circle-isolated-white-background-vector-icon-realistic-book-icon-pink-motivation-book-110969365.jpg" />
        <img src="~/Images/Screenshot (460).png" />
    </section>

    <section class="about">
        <div class="about__details">

            <button>Learn More -></button>
        </div>
    </section>


    <section class="gallery">
        <h2>Bookgram</h2>
        <img src="https://images.pexels.com/photos/3847611/pexels-photo-3847611.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="">
        <img src="https://image.shutterstock.com/image-photo/bandung-indonesia-22nd-january-2015-600w-1222183279.jpg" alt="">
        <img src="https://image.shutterstock.com/image-photo/nitra-slovakia-december-22-2017-600w-779842942.jpg" alt="">
        <img src="https://rethinkpress.com/wp-content/uploads/2013/10/Novel-comp-2012-winner-books.jpg" alt="">
        <img src="https://image.shutterstock.com/image-illustration/good-friends-books-sleepy-conscience-600w-1057194221.jpg" alt="">
        <img src="https://image.shutterstock.com/image-vector/country-usa-england-china-frnace-600w-485739319.jpg" alt="">
        <img src="https://i0.wp.com/www.hachettebookgroup.com/wp-content/uploads/2019/08/Best-Campus-Crime-Novels-Featured-Image-Novel-Suspects.png?resize=1024%2C536&ssl=1" alt="">
        <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2019/12/30/14/indian-novels-indybest.jpg?width=1200&auto=webp&quality=75" alt="">
        <img src="https://www.theparisreview.org/blog/wp-content/uploads/2019/09/untitled-3-1.jpg" alt="">
        <img src="https://harpercollins.co.in/wp-content/uploads/2021/02/Top-50-Thriller-and-Suspense-Novels-01-1280x720.jpg" alt="">
    </section>

    <script>
        const navButton = document.querySelector('button[aria-expanded]');

        function toggleNav({ target }) {
            const expanded = target.getAttribute('aria-expanded') === 'true' || false;
            navButton.setAttribute('aria-expanded', !expanded);
        }

        navButton.addEventListener('click', toggleNav);
    </script>

</body>