@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    <style>
        html {
            height: 100%;
        }
        body {
            background-image: url("Images/Asset.jpg");
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<body>
</body>
</html>
